@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 4rem;
    max-width: 62rem;
  }
}

.sidebar-sticky{
	position: relative;
	margin: auto;
	right: 0rem;
    bottom: 0rem;
    left: 0rem;
}

.sidebar-copyright{
	position: absolute;
	bottom: 0;
}

.sidebar-about h1{
	font-size: 2.25rem;
}

.lead {
    font-size: 1.00rem;
    font-weight: 300;
}

.circular {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(../mn.jpg) no-repeat;
}