<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="layout-reverse">

    {% include sidebar.html %}

    <div class="content container">

		<div class="header_site">
			<h1 class="site_title"><a href="/">Mathieu Nayrolles</a></h1>

			<div class="header_subtitle">

				<h2 class="site_link"><a href="/projects.html">Projects</a></h2>
				<h2 class="site_link"><a href="/books.html">Books</a></h2>
        <h2 class="site_link"><a href="/archive.html">Archive</a></h2>
				<h2 class="site_link"><a target="_blank" href="/resume.html">Resume</a></h2>

			</div>

		</div>

      {{ content }}
    </div>

  </body>
</html>
