---
layout: default
---

<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "url": "https://math.co.de",
  "logo": "https://math.co.de/public/mn.jpg"
}
</script>
<script type="application/ld+json">
{ "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Mathieu Nayrolles Code",
  "url" : "https://math.co.de",
  "sameAs" : [ "https://twitter.com/MathieuNls"]
}
</script>

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
